.filter-item{
    padding: 8px;
    color:var(--filter-text);
    display:flex;
    background-color: var(--primary-background);
    border: 1px solid var(--gray);
    border-radius: 8px;
    margin: 10px 10px 10px 0px;
    font-size: 16px;
}
.filter-name{
    margin-left: 5px;
}
