#root{
    --primary-box-shadow:rgba(28, 28, 28, 0.08) 0px 2px 8px;
    --primary-background:rgb(255, 255, 255);
    --border-white: rgb(232, 232, 232);
    --zomato-gray:#828282;
    --gray:rgb(207, 207, 207);
    --zomato-red:#ff7e8b;
    --inactive-text: #696969;
    --inactive-color:#f8f8f8;
    --filter-text:#9C9C9C;
    --heading-text:#1c1c1c;
    --collection-shadow:rgba(0, 0, 0, 0.08) 0px 3px 12px;
    --tag-blue:#256FEF;
    --tag-gold:#FFD385;
    --tag-green:#267E3E;
    --subtitle-text:#363636;
    --bg-gradient:linear-gradient(
        0deg,
     rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.05) 50%, 
      rgba(0, 0, 0, 0.05) 85%);
    
    
    
    
}